.body{
    margin: 8px;
    display: block;
}

.form {
    display: block;
    margin-top:0em;
    margin-block-end: 1em;
}
.center {
    display: block;
    text-align:center;

}

 #gri-alan {
    background-color: rgb(238, 238, 238)
 }
.table {
    
    vertical-align: middle;
    font-size: medium;
    border-spacing: 2px;
    

       }

#mavi-kutu {
  width: 37%; background-color: rgb(126, 229, 218)
}
   .td{
    display: table-cell;
   }

.font {
   font-size: small; 
}

